{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	{% for produit in produits %}
		<div class="produit">
			<h3>
				<a href="{{path('produit', { id: produit.id})}}">{{ produit.nom }}</a>
			</h3>
			<img src="{{ asset('img/' ~ produit.image) }}">
			<p>{{ produit.prix }}€</p>
		</div>
	{% endfor %}
{% endblock %}
